.shopcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.shopcontainer ol{
    list-style: none;
}
.shopcontainer li{
    margin-top: 20px;
}

.tableprops  {
    display:grid;
    grid-template-columns:auto auto auto auto;
}